* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.app {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.item {
    width: 50px;
    height: 50px;
    outline: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.right {
    color: green;
}

.wrong {
    color: red;
}
